<div class="p-10 h-dvh">
  <div>
    <h1>Listado de Superhéroes</h1>
  </div>

  <div class="flex w-full mt-5 mb-3">
    <input
      class="flex-1 mr-2 rounded border border-gray-300 p-2"
      type="text"
      placeholder="Buscar héroe"
      [(ngModel)]="searchTerm"
      (input)="filterHeroes()"
    />

    <button (click)="onAddHero()">Añadir Héroe</button>
  </div>
  <hr class="mb-3" />

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 mb-3"
  >
    <app-hero-card
      *ngFor="let hero of paginatedHeroes"
      [hero]="hero"
      (delete)="deleteHero(hero.id)"
      (edit)="onEditHero(hero)"
    ></app-hero-card>
  </div>
  <hr class="mb-8" />

  <div class="flex justify-center mt-4 gap-4 items-center">
    <button [disabled]="currentPage === 1" (click)="prevPage()" class="w-32">
      Anterior
    </button>
    <span>Página {{ currentPage }}</span>
    <button
      [disabled]="currentPage === totalPages"
      (click)="nextPage()"
      class="w-32"
    >
      Siguiente
    </button>
  </div>

  <div
    *ngIf="editingHero !== null"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm z-50"
  >
    <div class="relative bg-white rounded-lg p-6 w-full max-w-lg">
      <button
        (click)="cancelEdit()"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
        aria-label="Cerrar"
      >
        ✖
      </button>
      <app-hero-form
        [hero]="editingHero"
        (saveHero)="saveHero($event)"
        (cancel)="cancelEdit()"
      ></app-hero-form>
    </div>
  </div>
</div>
