<div class="p-4 bg-white rounded mx-auto">
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-bold">Nombre</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="w-full border rounded px-3 py-2"
        placeholder="Nombre del héroe"
      />
      <div
        *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.touched"
        class="text-red-500 text-sm"
      >
        El nombre es requerido y no debe exceder 50 caracteres.
      </div>
    </div>

    <div class="mb-4">
      <label for="description" class="block text-gray-700 font-bold"
        >Descripción</label
      >
      <textarea
        id="description"
        formControlName="description"
        class="w-full border rounded px-3 py-2"
        placeholder="Descripción del héroe"
      ></textarea>
      <div
        *ngIf="
          heroForm.get('description')?.invalid &&
          heroForm.get('description')?.touched
        "
        class="text-red-500 text-sm"
      >
        La descripción es requerida y no debe exceder 200 caracteres.
      </div>
    </div>

    <div class="mb-4">
      <label for="powers" class="block text-gray-700 font-bold">Poderes</label>
      <input
        id="powers"
        type="text"
        formControlName="powers"
        class="w-full border rounded px-3 py-2"
        placeholder="Lista de poderes separados por coma"
      />
      <div
        *ngIf="
          heroForm.get('powers')?.invalid && heroForm.get('powers')?.touched
        "
        class="text-red-500 text-sm"
      >
        Al menos un poder es requerido.
      </div>
    </div>

    <div class="flex justify-end gap-2">
      <button
        type="button"
        (click)="onCancel()"
        class="px-4 py-2 bg-gray-500 text-white rounded"
      >
        Cancelar
      </button>
      <button
        type="submit"
        [disabled]="heroForm.invalid"
        class="px-4 py-2 bg-blue-500 text-white rounded"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
